.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}
.shiny-server-account{
  display: none;
}
#selectedFile, #dataResults {
  overflow-x: scroll;
}
.shiny-tab-input li:hover{
  background-color:white;
  border-top-color: #337297;
  color: black;
}
.nav-tabs-custom{
  color: black;
  min-height:130px;
}
.dataTables_wrapper {
  font-size: 14.5px;
}
#clear, #loc, #inputSearch, #goButton, #list, #location_str, #go_left, #go_right, #zoom_in, #zoom_out {
  float: left;
  margin:0;
}
#clear, #goButton, #go_left, #go_right, #zoom_in, #zoom_out, #list {
  width: 10%;
}
.box-title{
  width: 100%;
  padding:0;
}
.box.box-solid.box-primary>.box-header .btn, .box.box-solid.box-primary>.box-header, .box.box-solid.box-primary>.box-header .btn, .box.box-solid.box-primary>.box-header a, .box.box-solid.box-primary>.box-header .btn, .box.box-solid.box-primary>.box-header span {
    color: black;
    font-size:14.5px;
}

.firstInput{
    padding-right: 0;
    padding-left: 0;
}
.box, .nav-tabs-custom  {
    margin-bottom: 0;
}
#inputSearch{
  width:80%;
}
#location_str {
    width: 100%;
    font-size:0.8em;
    display: none;
    visibility: hidden;
}
#eventList{
  font-size:0.8em;
  padding-left: 1%;
  color:red;
}
#loc {
    width: 50%;
    font-size:11.5px;
    line-height: normal;
}

.twitter-typeahead{
  width:100%;
}

/*#events{
  margin-top:14%;
}*/
#eventList{
width: 100%;
  float:left;
  padding: 1.8% 0;
}

#add, #remove, #change, #upload, #modify {
  width: 24.5%;
}

#errMsj{
  margin: 10% 0;
}

#input1, #input2 {
    font-size: 12;
}
